In [4]:
import pandas as pd 
import numpy as np
import os

import sklearn

In [8]:
# Define the directory path where the files are located
directory_path = 'Kismet_data_intent'

# Create an empty list to store the dataframes
data_set = pd.DataFrame(columns=['speaker', 'nbr', 'classe', 'time', 'f0', 'en'])

# Loop through each file in the directory
for filename in os.listdir(directory_path):

    speaker = filename[0:2]
    nbr = filename[2:6]
    classe = filename[6:8]
    
    # Read the .f0 file into a dataframe
    df = pd.read_csv(os.path.join(directory_path, filename))
        

    if filename.endswith('.en'):
        # Read the .en file into a dataframe
        df = pd.read_csv(os.path.join(directory_path, filename))


# and not np.any(data_set['nbr'].isin(nbr))

,0.02 0,0.02 0,0.02 0,0.02 0,0.02 0,0.02 0,0.02 0,0.02 0,0.02 0,0.02 0,...,0.02 0,0.02 0,0.02 0,0.02 0,0.02 0,0.02 0,0.02 0,0.02 0,0.02 0,0.02 0
0,0.04 0,0.04 0,0.04 0,0.04 0,0.04 0,0.04 0,0.04 0,0.04 0,0.04 43,0.04 0,...,0.04 0,0.04 0,0.04 0,0.04 0,0.04 0,0.04 0,0.04 0,0.04 0,0.04 0,0.04 0
1,0.06 42,0.06 0,0.06 40,0.06 0,0.06 42,0.06 0,0.06 40,0.06 0,0.06 41,0.06 0,...,0.06 40,0.06 0,0.06 40,0.06 0,0.06 40,0.06 0,0.06 40,0.06 0,0.06 43,0.06 0
2,0.08 41,0.08 0,0.08 40,0.08 0,0.08 41,0.08 0,0.08 40,0.08 0,0.08 40,0.08 0,...,0.08 40,0.08 0,0.08 42,0.08 0,0.08 40,0.08 0,0.08 41,0.08 0,0.08 41,0.08 0
3,0.10 43,0.10 0,0.10 41,0.10 0,0.10 43,0.10 0,0.10 41,0.10 0,0.10 38,0.10 0,...,0.10 40,0.10 0,0.10 46,0.10 0,0.10 40,0.10 0,0.10 38,0.10 0,0.10 40,0.10 0
4,0.12 41,0.12 0,0.12 40,0.12 0,0.12 41,0.12 0,0.12 40,0.12 0,0.12 39,0.12 0,...,0.12 41,0.12 0,0.12 45,0.12 0,0.12 39,0.12 0,0.12 38,0.12 0,0.12 39,0.12 0

In [22]:
data = np.genfromtxt('Kismet_data_intent/cy0001at.en', delimiter=' ')
data.shape

(64, 2)